.mission {
  position: relative;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .mission {
      padding: 0 0 165% 0;
      max-height: 0; } }
  .mission-block {
    flex: 0 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #30A657;
    border-radius: 50%;
    width: 223px;
    height: 223px;
    padding: 12px; }
    @media (min-width: 768px) {
      .mission-block {
        position: absolute; } }
    .mission-block:after {
      display: block;
      position: absolute;
      content: '';
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      border-radius: 50%;
      box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.4);
      z-index: -1; }
    .mission-block h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 7.5vw;
      line-height: 9.33vw;
      text-align: center;
      color: white;
      margin-bottom: 10px; }
      @media (min-width: 768px) {
        .mission-block h2 {
          font-size: 24px;
          line-height: 28px; } }
      @media (min-width: 1320px) {
        .mission-block h2 {
          font-size: 30px;
          line-height: 37px; } }
    .mission-block p {
      font-size: 3.14vw;
      line-height: 4vw;
      font-weight: 400;
      text-align: center;
      color: white;
      margin: 0; }
      @media (min-width: 768px) {
        .mission-block p {
          font-size: 12px;
          line-height: 15px; } }
      @media (min-width: 1320px) {
        .mission-block p {
          font-size: 15px;
          line-height: 18px; } }
  .mission .mod-mission-1 {
    width: 69.69vw;
    height: 69.69vw;
    background: #30A657;
    margin: 0 -11px 22px auto;
    padding: 4.2%; }
    @media (min-width: 768px) {
      .mission .mod-mission-1 {
        width: 37.4%;
        height: 22.667%;
        left: 31%;
        top: -3%;
        padding: 38px; } }
    .mission .mod-mission-1:after {
      top: -6px;
      left: -7px; }
      @media (min-width: 768px) {
        .mission .mod-mission-1:after {
          top: -10px;
          left: -11px;
          width: calc(100% + 37px);
          height: calc(100% + 37px); } }
  .mission .mod-mission-2 {
    background: #E7B500;
    margin: 0 auto -7px -8px;
    width: 63.44vw;
    height: 63.44vw;
    padding: 4.2%; }
    @media (min-width: 768px) {
      .mission .mod-mission-2 {
        width: 31.3%;
        height: 18.97%;
        left: 10%;
        top: 18.5%;
        padding: 12px; } }
    @media (min-width: 1320px) {
      .mission .mod-mission-2 {
        padding: 38px; } }
    .mission .mod-mission-2:after {
      top: -15px;
      left: -14px; }
      @media (min-width: 768px) {
        .mission .mod-mission-2:after {
          top: -23px;
          left: -22px;
          width: calc(100% + 31px);
          height: calc(100% + 31px); } }
  .mission .mod-mission-3 {
    background: #416528;
    margin: 0 -8px 12px auto;
    width: 65.625vw;
    height: 65.625vw;
    padding: 6%; }
    @media (min-width: 768px) {
      .mission .mod-mission-3 {
        width: 34.7%;
        height: 21.031%;
        left: 63%;
        top: 19.5%;
        padding: 16px; } }
    @media (min-width: 1320px) {
      .mission .mod-mission-3 {
        padding: 48px; } }
    .mission .mod-mission-3:after {
      top: -5px;
      left: -6px; }
      @media (min-width: 768px) {
        .mission .mod-mission-3:after {
          top: -9px;
          left: -10px;
          width: calc(100% + 33px);
          height: calc(100% + 33px); } }
  .mission .mod-mission-4 {
    background: #D88600;
    margin: 0 auto 25px -16px;
    width: 63.125vw;
    height: 63.125vw;
    padding: 10% 5% 5%; }
    @media (min-width: 768px) {
      .mission .mod-mission-4 {
        width: 31.4%;
        height: 19.031%;
        left: 56%;
        top: 42.5%;
        padding: 8px 7px 16px; } }
    @media (min-width: 1320px) {
      .mission .mod-mission-4 {
        padding: 41px 24px 24px; } }
    .mission .mod-mission-4 h2 {
      font-size: 6.2vw;
      line-height: 7.5vw; }
      @media (min-width: 768px) {
        .mission .mod-mission-4 h2 {
          font-size: 20px;
          line-height: 28px; } }
      @media (min-width: 1320px) {
        .mission .mod-mission-4 h2 {
          font-size: 30px;
          line-height: 37px; } }
    .mission .mod-mission-4:after {
      top: -6px;
      left: -6px; }
      @media (min-width: 768px) {
        .mission .mod-mission-4:after {
          top: -9px;
          left: -10px;
          width: calc(100% + 30px);
          height: calc(100% + 30px); } }
  .mission .mod-mission-5 {
    background: #729D31;
    margin: 0 -8px 24px auto;
    width: 65.94vw;
    height: 65.94vw;
    padding: 5%; }
    @media (min-width: 768px) {
      .mission .mod-mission-5 {
        width: 34.8%;
        height: 21.091%;
        left: 3%;
        top: 41%;
        padding: 12px; } }
    @media (min-width: 1320px) {
      .mission .mod-mission-5 {
        padding: 39px; } }
    .mission .mod-mission-5:after {
      top: -5px;
      left: -6px; }
      @media (min-width: 768px) {
        .mission .mod-mission-5:after {
          top: -9px;
          left: -10px;
          width: calc(100% + 32px);
          height: calc(100% + 32px); } }
  .mission .mod-mission-6 {
    background: #E7B601;
    margin: 0 auto 5px -8px;
    width: 63.125vw;
    height: 63.125vw;
    padding: 4.2%; }
    @media (min-width: 768px) {
      .mission .mod-mission-6 {
        width: 31.4%;
        height: 19.031%;
        left: 73%;
        top: 63.5%;
        padding: 16px; } }
    .mission .mod-mission-6 h2 {
      font-size: 6.2vw;
      line-height: 7.5vw; }
      @media (min-width: 768px) {
        .mission .mod-mission-6 h2 {
          font-size: 22px;
          line-height: 28px; } }
      @media (min-width: 1320px) {
        .mission .mod-mission-6 h2 {
          font-size: 30px;
          line-height: 37px; } }
    .mission .mod-mission-6:after {
      top: -15px;
      left: -14px; }
      @media (min-width: 768px) {
        .mission .mod-mission-6:after {
          top: -23px;
          left: -22px;
          width: calc(100% + 30px);
          height: calc(100% + 30px); } }
  .mission .mod-mission-7 {
    background: #426629;
    margin: 0 -3px -8px auto;
    width: 63.125vw;
    height: 63.125vw;
    padding: 4.2%; }
    @media (min-width: 768px) {
      .mission .mod-mission-7 {
        width: 31.4%;
        height: 19.031%;
        left: 31%;
        top: 64%;
        padding: 23px; } }
    .mission .mod-mission-7:after {
      top: -6px;
      left: -6px; }
      @media (min-width: 768px) {
        .mission .mod-mission-7:after {
          top: -9px;
          left: -10px;
          width: calc(100% + 30px);
          height: calc(100% + 30px); } }
  .mission .mod-mission-8 {
    background: #D98602;
    margin: 0 auto 0 -10px;
    width: 63.125vw;
    height: 63.125vw;
    padding: 10% 5% 5%; }
    @media (min-width: 768px) {
      .mission .mod-mission-8 {
        width: 31.4%;
        height: 19.031%;
        left: 2%;
        top: 82%;
        padding: 15px; } }
    .mission .mod-mission-8:after {
      top: -6px;
      left: -6px; }
      @media (min-width: 768px) {
        .mission .mod-mission-8:after {
          top: -9px;
          left: -10px;
          width: calc(100% + 30px);
          height: calc(100% + 30px); } }
  .mission-decor {
    position: absolute;
    width: 21.875vw;
    height: 21.875vw;
    background: url("../assets/img/mission-decor-1.png") 50% 50% no-repeat;
    background-size: contain; }
    @media (min-width: 768px) {
      .mission-decor {
        width: 150px;
        height: 150px; } }
    .mission-decor:after {
      display: block;
      position: absolute;
      content: '';
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      background: white;
      border-radius: 50%;
      box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.4);
      z-index: -1; }
      @media (min-width: 768px) {
        .mission-decor:after {
          width: calc(100% + 20px);
          height: calc(100% + 20px); } }
  .mission .mod-decor-1 {
    right: calc(100% + 11px);
    bottom: 7px; }
    @media (min-width: 768px) {
      .mission .mod-decor-1 {
        width: 40.11%;
        height: 40.11%;
        right: 114%;
        bottom: 27%; } }
    .mission .mod-decor-1:after {
      top: -8px;
      left: -5px; }
      @media (min-width: 768px) {
        .mission .mod-decor-1:after {
          top: -18px;
          left: -11px; } }
  .mission .mod-decor-2 {
    background: url("../assets/img/mission-decor-3.png") 50% 50% no-repeat;
    background-size: contain;
    left: calc(100% + 23px);
    top: 15px; }
    @media (min-width: 768px) {
      .mission .mod-decor-2 {
        width: 47.925%;
        height: 47.925%;
        left: 214%;
        top: -95%; } }
    .mission .mod-decor-2:after {
      top: -3px;
      left: -8px; }
      @media (min-width: 768px) {
        .mission .mod-decor-2:after {
          top: -6px;
          left: -18px; } }
  .mission .mod-decor-3 {
    background: url("../assets/img/mission-decor-2.png") 50% 50% no-repeat;
    background-size: contain;
    right: calc(100% + 14px);
    bottom: 1px; }
    @media (min-width: 768px) {
      .mission .mod-decor-3 {
        width: 43.23%;
        height: 43.23%;
        right: 128%;
        bottom: -24%; } }
    .mission .mod-decor-3:after {
      top: -8px;
      left: -5px; }
      @media (min-width: 768px) {
        .mission .mod-decor-3:after {
          top: -18px;
          left: -11px; } }
  .mission .mod-decor-4 {
    background: url("../assets/img/mission-decor-3.png") 50% 50% no-repeat;
    background-size: contain;
    right: calc(100% + 18px);
    bottom: 23px; }
    @media (min-width: 768px) {
      .mission .mod-decor-4 {
        width: 47.775%;
        height: 47.775%;
        right: 130%;
        bottom: 35%; } }
    .mission .mod-decor-4:after {
      top: -3px;
      left: -8px; }
      @media (min-width: 768px) {
        .mission .mod-decor-4:after {
          top: -6px;
          left: -18px; } }
  .mission .mod-decor-5 {
    background: url("../assets/img/mission-decor-2.png") 50% 50% no-repeat;
    background-size: contain;
    left: calc(100% + 23px);
    bottom: 42px; }
    @media (min-width: 768px) {
      .mission .mod-decor-5 {
        width: 47.775%;
        height: 47.775%;
        left: 200%;
        bottom: 21%; } }
    .mission .mod-decor-5:after {
      top: -8px;
      left: -5px; }
      @media (min-width: 768px) {
        .mission .mod-decor-5:after {
          top: -18px;
          left: -11px; } }

.mult {
  padding-top: 12px; }
  .mult-slider {
    position: relative;
    margin-bottom: 60px; }
    @media (max-width: 1400px) {
      .mult-slider {
        margin-bottom: 40px; } }
    .mult-slider-item {
      position: relative;
      height: 790px;
      line-height: 20px;
      overflow: hidden;
      padding: 0;
      transition: height .2s ease; }
      @media (max-width: 1600px) {
        .mult-slider-item {
          height: 700px; } }
      @media (max-width: 1400px) {
        .mult-slider-item {
          height: 620px; } }
      @media (max-width: 1000px) {
        .mult-slider-item {
          height: 420px; } }
      @media (max-width: 767px) {
        .mult-slider-item {
          height: 376px; } }
      .mult-slider-item-wrap {
        position: relative;
        width: 100%;
        height: 740px;
        background: none 50% 50% no-repeat;
        background-size: cover; }
        @media (max-width: 1600px) {
          .mult-slider-item-wrap {
            height: 650px; } }
        @media (max-width: 1400px) {
          .mult-slider-item-wrap {
            height: 570px; } }
        @media (max-width: 1000px) {
          .mult-slider-item-wrap {
            height: 370px; } }
        @media (max-width: 767px) {
          .mult-slider-item-wrap {
            display: none; } }
        .mult-slider-item-wrap-mobile {
          position: relative;
          width: 100%;
          height: 376px;
          background: none 50% 50% no-repeat;
          background-size: cover;
          display: none; }
          @media (max-width: 767px) {
            .mult-slider-item-wrap-mobile {
              display: block; } }
      .mult-slider-item-logos {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 25px;
        left: 0;
        width: 100%; }
        @media (max-width: 767px) {
          .mult-slider-item-logos {
            top: 30px; } }
      .mult-slider-item-buttons {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2; }
        @media (max-width: 767px) {
          .mult-slider-item-buttons {
            bottom: -10px; } }
        @media (max-width: 480px) {
          .mult-slider-item-buttons {
            bottom: 0; } }
      .mult-slider-item-button-1 {
        display: block;
        width: 212px;
        height: 150px;
        background: url("../assets/img/btn-back-1.svg") 50% 50% no-repeat;
        background-size: contain;
        margin-right: 120px; }
        @media (max-width: 1600px) {
          .mult-slider-item-button-1 {
            width: 212px;
            height: 150px; } }
        @media (max-width: 1400px) {
          .mult-slider-item-button-1 {
            width: 183.7px;
            height: 130px; } }
        @media (max-width: 1000px) {
          .mult-slider-item-button-1 {
            width: 155.5px;
            height: 110px; } }
        @media (max-width: 767px) {
          .mult-slider-item-button-1 {
            width: 127.2px;
            height: 90px;
            margin-right: 100px; } }
        @media (max-width: 480px) {
          .mult-slider-item-button-1 {
            width: 107px;
            height: 76px;
            margin-right: 60px; } }
      .mult-slider-item-button-2 {
        display: block;
        width: 212px;
        height: 163px;
        background: url("../assets/img/btn-back-2.svg") 50% 50% no-repeat;
        background-size: contain; }
        @media (max-width: 1600px) {
          .mult-slider-item-button-2 {
            width: 212px;
            height: 150px; } }
        @media (max-width: 1400px) {
          .mult-slider-item-button-2 {
            width: 183.7px;
            height: 130px; } }
        @media (max-width: 1000px) {
          .mult-slider-item-button-2 {
            width: 155.5px;
            height: 110px; } }
        @media (max-width: 767px) {
          .mult-slider-item-button-2 {
            width: 127.2px;
            height: 90px; } }
        @media (max-width: 480px) {
          .mult-slider-item-button-2 {
            width: 107px;
            height: 76px; } }
      .mult-slider-item-logo-1 {
        width: 133px;
        height: 133px;
        background: url("../assets/img/soyuzmultfilm.png") 50% 50% no-repeat;
        background-size: contain;
        margin-right: 60px; }
        @media (max-width: 767px) {
          .mult-slider-item-logo-1 {
            width: 82px;
            height: 82px;
            background: url("../assets/img/soyuzmultfilm-mobile.png") 50% 50% no-repeat;
            background-size: contain;
            margin-right: 38px; } }
      .mult-slider-item-logo-2 {
        width: 167px;
        height: 101px;
        background: url("../assets/img/orange-cow.png") 50% 50% no-repeat;
        background-size: contain; }
        @media (max-width: 767px) {
          .mult-slider-item-logo-2 {
            width: 102px;
            height: 62px;
            background: url("../assets/img/orange-cow-mobile.png") 50% 50% no-repeat;
            background-size: contain; } }
      .mult-slider-item-bottom {
        display: block;
        position: absolute;
        bottom: 49px;
        left: 0;
        width: 100%;
        height: 31px;
        background: url("../assets/img/banner-bottom.png") 50% 50% no-repeat;
        background-size: cover;
        transition: all .2s ease;
        z-index: 1; }
        @media (max-width: 1600px) {
          .mult-slider-item-bottom {
            bottom: 40px; } }
        @media (max-width: 767px) {
          .mult-slider-item-bottom {
            bottom: 0; } }
    .mult-slider .flex-control-nav {
      bottom: 100px;
      transition: all .2s ease; }
      @media (max-width: 1600px) {
        .mult-slider .flex-control-nav {
          bottom: 88px; } }
      @media (max-width: 1400px) {
        .mult-slider .flex-control-nav {
          bottom: 82px; } }
      @media (max-width: 1200px) {
        .mult-slider .flex-control-nav {
          bottom: 80px; } }
      @media (max-width: 1000px) {
        .mult-slider .flex-control-nav {
          bottom: 76px; } }
      @media (max-width: 767px) {
        .mult-slider .flex-control-nav {
          bottom: 40px; } }
    .mult-slider .flex-control-paging li {
      margin: 0 0 0 10px; }
      .mult-slider .flex-control-paging li:first-of-type {
        margin: 0; }
    .mult-slider .flex-control-paging li a:before {
      top: 0;
      left: 0;
      margin: 0;
      width: 12px;
      height: 12px;
      background: url("../assets/img/slider-control.png") 50% 50% no-repeat !important;
      background-size: cover; }
    .mult-slider .flex-control-paging li a.flex-active:before {
      background: url("../assets/img/slider-control-active.png") 50% 50% no-repeat !important;
      background-size: cover; }
    .mult-slider .flex-direction-nav {
      position: absolute;
      opacity: 1 !important;
      top: 50%;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 55px; }
      @media (max-width: 767px) {
        .mult-slider .flex-direction-nav {
          display: none; } }
      .mult-slider .flex-direction-nav .flex-nav-prev {
        width: 55px;
        height: 52px;
        margin: 0 0 0 184px; }
        @media (max-width: 1800px) {
          .mult-slider .flex-direction-nav .flex-nav-prev {
            margin: 0 0 0 84px; } }
        @media (max-width: 1280px) {
          .mult-slider .flex-direction-nav .flex-nav-prev {
            margin: 0 0 0 34px; } }
        @media (max-width: 767px) {
          .mult-slider .flex-direction-nav .flex-nav-prev {
            margin: 0 0 0 16px; } }
      .mult-slider .flex-direction-nav .flex-nav-next {
        width: 55px;
        height: 52px;
        margin: 0 184px 0 0; }
        @media (max-width: 1800px) {
          .mult-slider .flex-direction-nav .flex-nav-next {
            margin: 0 84px 0 0; } }
        @media (max-width: 1280px) {
          .mult-slider .flex-direction-nav .flex-nav-next {
            margin: 0 34px 0 0; } }
        @media (max-width: 767px) {
          .mult-slider .flex-direction-nav .flex-nav-next {
            margin: 0 16px 0 0; } }
      .mult-slider .flex-direction-nav .flex-prev {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        width: 55px;
        height: 52px;
        opacity: 1; }
        .mult-slider .flex-direction-nav .flex-prev:hover:before {
          background: url("../assets/img/slider-arrow-left-active.png") 50% 50% no-repeat !important;
          background-size: cover; }
        .mult-slider .flex-direction-nav .flex-prev:before {
          content: '';
          width: 55px;
          height: 52px;
          background: url("../assets/img/slider-arrow-left.png") 50% 50% no-repeat !important;
          background-size: cover; }
      .mult-slider .flex-direction-nav .flex-next {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        width: 55px;
        height: 52px;
        opacity: 1; }
        .mult-slider .flex-direction-nav .flex-next:hover:before {
          background: url("../assets/img/slider-arrow-right-active.png") 50% 50% no-repeat !important;
          background-size: cover; }
        .mult-slider .flex-direction-nav .flex-next:before {
          content: '';
          width: 55px;
          height: 52px;
          background: url("../assets/img/slider-arrow-right.png") 50% 50% no-repeat !important;
          background-size: cover; }
  .mult-news {
    max-width: 1344px;
    margin: 0 auto 40px; }
    .mult-news__title {
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 49px;
      color: #333;
      text-align: center;
      margin-bottom: 40px; }
      @media (max-width: 767px) {
        .mult-news__title {
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 20px; } }
    .mult-news .catalog.sections .items {
      margin: 0 0 20px 0; }
    .mult-news .catalog.sections .item {
      display: flex; }
      @media (max-width: 767px) {
        .mult-news .catalog.sections .item {
          flex-direction: column; } }
      .mult-news .catalog.sections .item .image {
        flex: 0 0 auto;
        margin-right: 30px; }
        @media (max-width: 767px) {
          .mult-news .catalog.sections .item .image {
            margin: 0 0 20px; } }
    .mult-news .item-views.sections.type_4_within .items .item .info {
      padding-left: 0;
      margin: 0;
      align-self: center; }
    .mult-news .catalog.sections.type_4_within .item .arrow_link {
      top: 40px;
      left: auto;
      right: 40px; }
  .mult-products {
    position: relative;
    background-color: #adc5e7;
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .mult-products {
        margin-bottom: 20px; } }
    .mult-products-top {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 31px;
      background: url("../assets/img/banner-bottom.png") 50% 50% no-repeat;
      background-size: cover;
      transform: scale(-1, -1); }
      @media (max-width: 767px) {
        .mult-products-top {
          display: none; } }
    .mult-products-bottom {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 31px;
      background: url("../assets/img/banner-bottom.png") 50% 50% no-repeat;
      background-size: cover; }
    .mult-products-decor {
      position: absolute;
      top: 30%;
      left: 0;
      width: 100%;
      height: 201px;
      background: url("../assets/img/products-decor.png") 50% 50% no-repeat;
      background-size: auto; }
      @media (max-width: 767px) {
        .mult-products-decor {
          background: url("../assets/img/products-decor-mobile.png") 50% 50% no-repeat;
          background-size: auto;
          top: auto;
          bottom: 60px; } }
    .mult-products-wrap {
      position: relative;
      display: flex;
      align-items: center;
      max-width: 1344px;
      margin: 0 auto;
      padding: 80px 0;
      z-index: 1; }
      @media (max-width: 1440px) {
        .mult-products-wrap {
          padding: 80px 20px; } }
      @media (max-width: 1024px) {
        .mult-products-wrap {
          flex-direction: column;
          padding: 70px 16px; } }
      @media (max-width: 767px) {
        .mult-products-wrap {
          flex-direction: column;
          padding: 70px 16px; } }
    .mult-products-img {
      position: relative;
      flex: 0 0 auto;
      width: 455px;
      height: 343px;
      background: url("../assets/img/products.png") 50% 50% no-repeat;
      background-size: cover;
      margin-right: 118px; }
      @media (max-width: 1440px) {
        .mult-products-img {
          margin-right: 40px; } }
      @media (max-width: 1024px) {
        .mult-products-img {
          margin: 0 0 20px 0; } }
      @media (max-width: 767px) {
        .mult-products-img {
          background: url("../assets/img/products-mobile.png") 50% 50% no-repeat;
          background-size: contain;
          width: 100%;
          height: 217px; } }
      .mult-products-img-list {
        position: absolute;
        top: 47%;
        right: -96px;
        display: flex;
        width: 100%; }
        @media (max-width: 767px) {
          .mult-products-img-list {
            width: 100%;
            justify-content: center;
            top: auto;
            bottom: 25px;
            left: 0;
            right: auto; } }
        .mult-products-img-list-item {
          cursor: pointer;
          transition: all .3s ease; }
          .mult-products-img-list-item:hover {
            transform: scale(1.2); }
          .mult-products-img-list-item:not(:first-child) {
            margin-left: 104px; }
            @media (max-width: 767px) {
              .mult-products-img-list-item:not(:first-child) {
                margin-left: 58px; } }
    .mult-products-catalog {
      position: relative;
      flex: 0 0 auto;
      width: 484px;
      height: 343px;
      margin-right: 88px; }
      @media (max-width: 1440px) {
        .mult-products-catalog {
          width: 440px;
          margin-right: 40px; } }
      @media (max-width: 1200px) {
        .mult-products-catalog {
          margin-right: 20px; } }
      @media (max-width: 767px) {
        .mult-products-catalog {
          width: 100%;
          height: auto;
          margin: 0 0 20px 0; } }
      .mult-products-catalog-list {
        display: flex;
        align-items: center;
        justify-content: stretch;
        width: 100%; }
        @media (max-width: 767px) {
          .mult-products-catalog-list {
            width: 100%;
            justify-content: center;
            top: auto;
            bottom: 25px;
            left: 0;
            right: auto; } }
        .mult-products-catalog-list-item {
          width: 100%;
          position: relative;
          cursor: pointer;
          transition: all .3s ease;
          display: flex;
          align-items: center; }
          @media (max-width: 767px) {
            .mult-products-catalog-list-item:not(:last-child) {
              margin-right: 16px; } }
          .mult-products-catalog-list-item:hover .mult-products-catalog-list-item__icon {
            transform: scale(1.2, 1.2); }
          .mult-products-catalog-list-item__img {
            display: block;
            flex: 0 1 auto;
            background: none 50% 50% no-repeat;
            background-size: contain;
            width: 100%;
            height: 343px; }
            @media (max-width: 1440px) {
              .mult-products-catalog-list-item__img {
                width: 100%; } }
            @media (max-width: 767px) {
              .mult-products-catalog-list-item__img {
                display: none;
                width: 100%;
                height: 40vw;
                background: none 50% 100% no-repeat;
                background-size: contain; } }
            .mult-products-catalog-list-item__img.mod-mobile {
              display: none; }
              @media (max-width: 767px) {
                .mult-products-catalog-list-item__img.mod-mobile {
                  display: block; } }
          .mult-products-catalog-list-item__icon {
            width: 16px;
            height: 16px;
            fill: #fe451d;
            margin: 0 7px 0 2px;
            transition: all .3s ease; }
            @media (max-width: 767px) {
              .mult-products-catalog-list-item__icon {
                position: absolute;
                bottom: 25px;
                left: calc(50% - 8px); } }
    .mult-products-info {
      margin-right: 80px; }
      @media (max-width: 1200px) {
        .mult-products-info {
          margin-right: 20px; } }
      @media (max-width: 767px) {
        .mult-products-info {
          margin: 0 0 20px 0; } }
      .mult-products-info h2 {
        margin-bottom: 15px;
        font-weight: 500; }
        @media (max-width: 1024px) {
          .mult-products-info h2 {
            text-align: center; } }
      .mult-products-info p {
        color: #333;
        margin: 0; }
    .mult-products-character {
      flex: 0 0 auto;
      width: 150px;
      height: 205px;
      background: url("../assets/img/products-img.png") 50% 50% no-repeat;
      background-size: cover;
      margin-right: 80px; }
      @media (max-width: 1200px) {
        .mult-products-character {
          margin-right: 20px; } }
      @media (max-width: 767px) {
        .mult-products-character {
          width: 131px;
          height: 180px;
          margin: 0;
          background: url("../assets/img/products-img-mobile.png") 50% 50% no-repeat;
          background-size: cover; } }
    .mult-products-description {
      position: absolute;
      width: 657px;
      padding: 50px 40px;
      background: #fff;
      box-shadow: 0px 0px 8px #7e92b7;
      border-radius: 6px;
      right: 114px;
      top: 50%;
      transform: translate(0, -50%);
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease;
      z-index: 1; }
      @media (max-width: 767px) {
        .mult-products-description {
          width: 100%;
          left: 0;
          padding: 40px 16px; } }
      .mult-products-description.open {
        opacity: 1;
        visibility: visible; }
      .mult-products-description-item__close {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        width: 42px;
        height: 39px;
        background: url(../assets/img/product-about-close.png) 50% 50% no-repeat;
        background-size: contain;
        cursor: pointer; }
        @media (max-width: 767px) {
          .mult-products-description-item__close {
            width: 31px;
            height: 29px;
            background: url(../assets/img/product-about-close-mobile.png) 50% 50% no-repeat;
            background-size: contain; } }
      .mult-products-description-item-row {
        display: flex;
        justify-content: space-between; }
        @media (max-width: 767px) {
          .mult-products-description-item-row {
            flex-direction: column; } }
        .mult-products-description-item-row:not(:last-child) {
          margin-bottom: 36px; }
          @media (max-width: 767px) {
            .mult-products-description-item-row:not(:last-child) {
              margin-bottom: 20px; } }
      .mult-products-description-item-col {
        width: 100%;
        flex: 1 1 auto; }
        .mult-products-description-item-col:not(:last-child) {
          margin-right: 20px; }
          @media (max-width: 767px) {
            .mult-products-description-item-col:not(:last-child) {
              margin-right: 0;
              margin-bottom: 20px; } }
      .mult-products-description-item__title {
        margin-bottom: 14px; }
        @media (max-width: 767px) {
          .mult-products-description-item__title {
            margin-bottom: 10px; } }
      .mult-products-description-item__text {
        display: flex;
        margin-top: 0;
        margin-bottom: 14px;
        color: #333;
        line-height: 20px;
        justify-content: space-between; }
      .mult-products-description-item__space {
        flex: 1 1 auto;
        font-size: 15px;
        height: 11px;
        line-height: 10px;
        margin: 0 8px 0 10px;
        border-bottom: 1px dashed #c4c4c4;
        border-collapse: separate;
        border-spacing: 2px 0; }
      .mult-products-description-item__value {
        flex: 0 0 auto;
        font-size: 15px;
        line-height: 20px;
        font-weight: bold;
        color: #333;
        text-align: right; }
      .mult-products-description-item-img {
        width: 100%;
        flex: 1 1 auto;
        display: block;
        height: 172px;
        background: url(../assets/img/product-about-img.png) 100% 50% no-repeat;
        background-size: contain; }
        @media (max-width: 767px) {
          .mult-products-description-item-img {
            display: none; } }
  .mult-advise {
    position: relative;
    background-color: #707eBd;
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .mult-advise {
        margin-bottom: 20px; } }
    .mult-advise-decor {
      position: absolute;
      top: 30%;
      left: 0;
      width: 100%;
      height: 201px;
      background: url("../assets/img/advise-decor.png") 50% 50% no-repeat;
      background-size: auto; }
    .mult-advise-wrap {
      position: relative;
      max-width: 1344px;
      margin: 0 auto;
      padding: 20px;
      z-index: 1; }
      @media (max-width: 767px) {
        .mult-advise-wrap {
          padding: 20px 16px; } }
    .mult-advise__title {
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 49px;
      text-align: center;
      color: #333;
      margin-bottom: 40px; }
      @media (max-width: 767px) {
        .mult-advise__title {
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          text-transform: uppercase;
          margin-bottom: 20px; } }
    .mult-advise-content {
      display: flex;
      max-width: 1060px;
      margin: 0 auto;
      align-items: flex-end;
      justify-content: center; }
      @media (max-width: 767px) {
        .mult-advise-content {
          flex-direction: column;
          align-items: center; } }
    .mult-advise-img {
      flex: 0 0 auto;
      width: 289px;
      height: 367px;
      margin-right: 26px;
      background: url("../assets/img/mysia.png") 50% 50% no-repeat;
      background-size: contain; }
      @media (max-width: 1200px) {
        .mult-advise-img {
          width: 141px;
          height: 179px; } }
      @media (max-width: 767px) {
        .mult-advise-img {
          width: 141px;
          height: 179px;
          background: url("../assets/img/mysia-mobile.png") 50% 50% no-repeat;
          background-size: contain; } }
    .mult-advise-quote {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      margin: auto 20px auto auto;
      background: #fff;
      padding: 10px 30px 30px;
      border-radius: 4px; }
      @media (max-width: 767px) {
        .mult-advise-quote {
          padding: 20px;
          margin: 0 0 20px 0; } }
    .mult-advise-cloud {
      display: flex;
      padding: 72px 68px;
      align-items: center;
      justify-content: center;
      width: 489px;
      height: 324px;
      background: url("../assets/img/cloud.svg") 50% 50% no-repeat;
      background-size: contain; }
      @media (max-width: 767px) {
        .mult-advise-cloud {
          width: 288px;
          height: 232px;
          padding: 64px 40px 30px;
          background: url("../assets/img/cloud-mobile.svg") 50% 50% no-repeat;
          background-size: contain;
          margin: 0 0 20px 0; } }
    .mult-advise-new {
      flex: 0 0 auto;
      width: 55px;
      height: 52px;
      background: url("../assets/img/advise-new.png") 50% 50% no-repeat;
      background-size: contain;
      transition: all .3s ease;
      cursor: pointer;
      align-self: center;
      margin: auto; }
    .mult-advise blockquote {
      padding: 0 0 0 55px;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
      color: #333; }
      @media (max-width: 767px) {
        .mult-advise blockquote {
          font-size: 10px;
          line-height: 15px;
          padding: 0 0 0 42px; } }
      .mult-advise blockquote::before {
        background-color: #707ebd; }
        @media (max-width: 767px) {
          .mult-advise blockquote::before {
            transform: translate(0, -8px) scale(0.6, 0.6); } }
      .mult-advise blockquote small {
        font-size: 15px;
        font-weight: 500; }
        @media (max-width: 767px) {
          .mult-advise blockquote small {
            font-size: 10px;
            line-height: 12px; } }
  .mult-fact {
    position: relative;
    background-color: #ffc525;
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .mult-fact {
        margin-bottom: 20px; } }
    .mult-fact-decor {
      position: absolute;
      top: 30%;
      left: 0;
      width: 100%;
      height: 201px;
      background: url("../assets/img/fact-decor.png") 50% 50% no-repeat;
      background-size: auto; }
    .mult-fact-wrap {
      position: relative;
      max-width: 1344px;
      margin: 0 auto;
      padding: 80px 20px;
      z-index: 1; }
      @media (max-width: 767px) {
        .mult-fact-wrap {
          padding: 70px 16px; } }
    .mult-fact__title {
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 49px;
      text-align: center;
      color: #fff;
      margin-bottom: 40px; }
      @media (max-width: 767px) {
        .mult-fact__title {
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          text-transform: uppercase;
          margin-bottom: 20px; } }
    .mult-fact-content {
      display: flex;
      align-items: flex-end;
      justify-content: center; }
      @media (max-width: 767px) {
        .mult-fact-content {
          flex-direction: column;
          align-items: center; } }
    .mult-fact-cloud {
      display: flex;
      padding: 72px 84px 72px 68px;
      align-items: center;
      justify-content: center;
      width: 619px;
      height: 321px;
      background: url("../assets/img/cloud-fact.svg") 50% 50% no-repeat;
      background-size: contain; }
      @media (max-width: 767px) {
        .mult-fact-cloud {
          width: 288px;
          height: 232px;
          padding: 64px 40px 30px;
          background: url("../assets/img/cloud-mobile.svg") 50% 50% no-repeat;
          background-size: contain;
          margin: 0 0 20px 0; } }
    .mult-fact-new {
      width: 55px;
      height: 53px;
      background: url("../assets/img/fact-new.png") 50% 50% no-repeat;
      background-size: contain;
      transition: all .3s ease;
      cursor: pointer; }
    .mult-fact blockquote {
      padding: 0 0 0 55px;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
      color: #333; }
      @media (max-width: 767px) {
        .mult-fact blockquote {
          font-size: 10px;
          line-height: 15px;
          padding: 0 0 0 42px; } }
      .mult-fact blockquote::before {
        background-color: #ffc525; }
        @media (max-width: 767px) {
          .mult-fact blockquote::before {
            transform: translate(0, -8px) scale(0.6, 0.6); } }
      .mult-fact blockquote small {
        font-size: 15px;
        font-weight: 500; }
        @media (max-width: 767px) {
          .mult-fact blockquote small {
            font-size: 10px;
            line-height: 12px; } }
  .mult-buy {
    position: relative;
    max-width: 1344px;
    margin: 0 auto;
    padding: 20px 0 60px;
    z-index: 1; }
    @media (max-width: 767px) {
      .mult-buy {
        padding: 20px 16px 40px; } }
    .mult-buy__title {
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 49px;
      color: #333;
      text-align: center;
      margin-bottom: 40px; }
      @media (max-width: 767px) {
        .mult-buy__title {
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 30px; } }
    .mult-buy-slider {
      position: relative;
      padding: 0 50px; }
      .mult-buy-slider .flex-direction-nav {
        position: absolute;
        opacity: 1 !important;
        top: 50%;
        left: 0;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50px; }
        @media (max-width: 767px) {
          .mult-buy-slider .flex-direction-nav {
            height: 34px;
            top: calc(50% - 50px); } }
        .mult-buy-slider .flex-direction-nav .flex-nav-prev {
          width: 50px;
          height: 50px;
          margin: 0; }
          @media (max-width: 767px) {
            .mult-buy-slider .flex-direction-nav .flex-nav-prev {
              width: 34px;
              height: 34px; } }
        .mult-buy-slider .flex-direction-nav .flex-nav-next {
          width: 50px;
          height: 50px;
          margin: 0; }
          @media (max-width: 767px) {
            .mult-buy-slider .flex-direction-nav .flex-nav-next {
              width: 34px;
              height: 34px; } }
        .mult-buy-slider .flex-direction-nav .flex-prev {
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: 0;
          width: 50px;
          height: 50px;
          opacity: 1;
          font-size: 0;
          background: #fff;
          border: 1px solid #eaeaea;
          box-sizing: border-box; }
          @media (max-width: 767px) {
            .mult-buy-slider .flex-direction-nav .flex-prev {
              width: 34px;
              height: 34px; } }
          .mult-buy-slider .flex-direction-nav .flex-prev:hover {
            background: #30a657; }
            .mult-buy-slider .flex-direction-nav .flex-prev:hover:before {
              background: url("../assets/img/slider-arrow-white.svg") 50% 50% no-repeat !important; }
          .mult-buy-slider .flex-direction-nav .flex-prev:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -6px;
            margin-left: -3px;
            width: 7px;
            height: 13px;
            background: url("../assets/img/slider-arrow.svg") 50% 50% no-repeat !important;
            background-size: cover; }
        .mult-buy-slider .flex-direction-nav .flex-next {
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: 0;
          width: 50px;
          height: 50px;
          opacity: 1;
          font-size: 0;
          background: #fff;
          border: 1px solid #eaeaea;
          box-sizing: border-box; }
          @media (max-width: 767px) {
            .mult-buy-slider .flex-direction-nav .flex-next {
              width: 34px;
              height: 34px; } }
          .mult-buy-slider .flex-direction-nav .flex-next:hover {
            background: #30a657; }
            .mult-buy-slider .flex-direction-nav .flex-next:hover:before {
              background: url("../assets/img/slider-arrow-white.svg") 50% 50% no-repeat !important; }
          .mult-buy-slider .flex-direction-nav .flex-next:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -6px;
            margin-left: -3px;
            width: 7px;
            height: 13px;
            background: url("../assets/img/slider-arrow.svg") 50% 50% no-repeat !important;
            background-size: cover;
            transform: scale(-1, 1); }
      .mult-buy-slider-item-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 50px; }
      .mult-buy-slider-item__img {
        width: 229px;
        height: 114px;
        background: none 50% 50% no-repeat;
        background-size: contain; }
        @media (max-width: 767px) {
          .mult-buy-slider-item__img {
            width: 182px; } }
      .mult-buy-slider-item__btn {
        display: inline-block;
        background: #30a657;
        border-radius: 3px;
        margin-top: 20px;
        padding: 14px 40px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #fff;
        transition: all .3s ease;
        cursor: pointer; }
        .mult-buy-slider-item__btn:hover {
          background: #2c924e;
          color: #fff; }

.icon-info {
  width: 16px;
  height: 16px;
  fill: #fe451d; }

@media (max-width: 767px) {
  .mobile .mult-slider .flex-direction-nav {
    display: none; } }
