<div class="maxwidth-theme">
	<div class="row">
		<div class="col-md-3 col-sm-3 hidden-xs hidden-sm left-menu-md">

			<aside class="sidebar">
				<ul class="nav nav-list side-menu">
					<li class="item active opened  child">
						<a href="/brands/drinks/">Напитки<span class="arrow opened"></span>
						</a>
						<div class="submenu-wrapper hidden-block" style="display:block;">
							<ul class="submenu">
								<li class="item font_xs active opened no_child">
									<a href="/brands/drinks/chernogolovka/">Черноголовка</a>
								</li>
								<li class="item font_xs no_child">
									<a href="/brands/drinks/baikal-1977/">Байкал 1977</a>
								</li>
								<li class="item font_xs no_child">
									<a href="/brands/drinks/voda-chernogolovka/">Вода Черноголовка</a>
								</li>
								<li class="item font_xs no_child">
									<a href="/brands/drinks/fantola/">Fantola</a>
								</li>
								<li class="item font_xs no_child">
									<a href="/brands/drinks/turbo-energy/">TURBO ENERGY</a>
								</li>
								<li class="item font_xs no_child">
									<a href="/brands/drinks/courtois/">Courtois</a>
								</li>
								<li class="item font_xs no_child">
									<a href="/orangecow/">Черноголовка Бэйби</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="item  child">
						<a href="/brands/snacks/">Снеки<span class="arrow"></span>
						</a>
						<div class="submenu-wrapper hidden-block">
							<ul class="submenu">
								<li class="item font_xs no_child">
									<a href="/brands/snacks/bon-giorno/">BON GIORNO</a>
								</li>
								<li class="item font_xs no_child">
									<a href="/brands/snacks/chaka/">CHAKA</a>
								</li>
								<li class="item font_xs no_child">
									<a href="/brands/snacks/fry-s/">FRY’S</a>
								</li>
								<li class="item font_xs no_child">
									<a href="/brands/snacks/razdole/">Раздолье</a>
								</li>
								<li class="item font_xs no_child">
									<a href="/brands/snacks/fishka/">FISHKA</a>
								</li>
								<li class="item font_xs no_child">
									<a href="/brands/snacks/zhiko/">ЖИКО</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="item active opened  child">
						<a href="/brands/confectionery/">Кондитерские изделия<span class="arrow opened"></span>
						</a>
						<div class="submenu-wrapper hidden-block" style="display:block;">
							<ul class="submenu">
								<li class="item font_xs active opened no_child">
									<a href="/brands/drinks/chernogolovka/">Черноголовка</a>
								</li>
								<li class="item font_xs no_child">
									<a href="/brands/confectionery/savinov/">Савинов</a>
								</li>
								<li class="item font_xs no_child">
									<a href="/brands/confectionery/biokey/">БИОКЕЙ</a>
								</li>
								<li class="item font_xs no_child">
									<a href="/brands/confectionery/chokochaka/">CHAKA</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="item  child">
						<a href="/brands/baby-food/">Детское питание<span class="arrow"></span>
						</a>
						<div class="submenu-wrapper hidden-block">
							<ul class="submenu">
								<li class="item font_xs no_child">
									<a href="/orangecow/">Черноголовка Бэйби</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</aside>
			<div class="sidearea">
				<div class="side_forms">
					<div class="button font_upper_md question_icon">
						<span class="dark-color animate-load border shadow" title="Написать сообщение" data-event="jqm" data-param-id="4" data-name="question">
							<span>
								<svg width="19" height="14" viewbox="0 0 19 14">
									<path class="cls-1" d="M1695,612h-15a2,2,0,0,1-2-2V600a2,2,0,0,1,2-2h15a2,2,0,0,1,2,2v10A2,2,0,0,1,1695,612Zm-13.88-2h12.75l-3.12-2.929,1.62-1.134L1695,608.3v-6.2l-7,4.9h-1l-7-4.9v6.2l2.62-2.363,1.62,1.128Zm13.46-10h-14.16l7.07,5Z" transform="translate(-1678 -598)"/>
								</svg>
								Написать сообщение
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9 col-sm-12 col-xs-12 content-md">

			<div class="detail partners border brand-custom">
				<article>
					<div class="top_content">
						<div class="image">
							<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/48e/chgka-lemonade_2x.png?158382393769636" title="Черноголовка" alt="Черноголовка" class="img-responsive"/>
						</div>

						<div class="right-block">
							<div class="social-block">
								<a href="https://www.instagram.com/chernogolovka_lemonade/ " class="insta"></a>
								<a href="https://www.facebook.com/chgk.lemonade" class="fb"></a>
								<a href="https://vk.com/chgk.lemonade" class="vk"></a>

							</div>
							<div class="shop-brand-slider">
								<div class="flexslider unstyled row front dark-nav view-control" data-plugin-options='{"directionNav": true, "controlNav" :false, "animationLoop": true, "slideshow": false, "counts": [5,3,2,2], "itemMargin": 10}'>
									<ul class="slides">
										<li class="item">
											<a href="https://www.auchan.ru/search/?query=%D0%BD%D0%B0%D0%BF%D0%B8%D1%82%D0%BA%D0%B8%20%D0%B8%D0%B7%20%D1%87%D0%B5%D1%80%D0%BD%D0%BE%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B8" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/f2b/Ашан лого.png?1615442496173062" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://av.ru/catalog/napitki/gazirovannye-napitki-limonady/?q=%3Aacbestseller%3AassortmentTypes%3AINTERNET%3Abrand%3Afalse.0.%D0%A7%D0%B5%D1%80%D0%BD%D0%BE%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/a72/азбука.png?1615397842142170" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://www.vprok.ru/catalog/1415/gazirovannye-napitki?attr%5B2571%5D%5B%5D=chernogolovka&attr%5Brate%5D%5B%5D=0&sort=rate_desc" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/09c/перекресток.png?161539794530830" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://lenta.com/catalog/bezalkogolnye-napitki/limonady-i-kvasy/limonady/f/brandname=chernogolovka/" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/8f7/лента.png?161539820117651" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://www.ozon.ru/search/?from_global=true&text=%D1%87%D0%B5%D1%80%D0%BD%D0%BE%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0+%D0%BB%D0%B8%D0%BC%D0%BE%D0%BD%D0%B0%D0%B4" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/5dc/logo_Ozon_new.png?161539758713025" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://www.okeydostavka.ru/msk/goriachie-i-kholodnye-napitki/limonady-gazirovannye-napitki#facet:-70000000000000161511053107210871080109010821080321080107932106310771088108510861075108610831086107410821080&productBeginIndex:0&orderBy:2&pageView:grid&minP" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/978/окей лого.jpg?161544109617671" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://msk.metro-cc.ru/category/bezalkogolnye-napitki/napitki-105003?manufacturer_id%5B0%5D=1920&page=1&price_min=21.9&price_max=3192" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/980/меттро логотип.jpg?161544230785025" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://online.globus.ru/catalog/napitki/limonady-toniki-gazirovannye-napitki/limonady/chernogolovka/" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/fb2/глобус гипермаркет.jpg?161544414025051" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://shop.mgnl.ru/search/?query=%D1%87%D0%B5%D1%80%D0%BD%D0%BE%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/293/магнолия лого.png?161544580211845" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://fix-price.ru/search/?brand=1&q=%D0%A7%D0%B5%D1%80%D0%BD%D0%BE%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/fa3/фикс прайс лого.jpg?161544664063325" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://www.utkonos.ru/cat/68/479:456778?property%5B%5D=479:449881" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/4b4/utkonos-logo.png?161544737197943" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://krasnoeibeloe.ru/catalog/?q=%D1%87%D0%B5%D1%80%D0%BD%D0%BE%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/2ec/КБ лого.png?161544780230200" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://www.wildberries.ru/catalog/pitanie/napitki?fbrand=57089&f85571=91703" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/903/vajldberriz-2.png?161635616540726" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://www.akusherstvo.ru/produkty-pitaniya/gazirovannye-napitki-i-kvas/" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/53c/bd0d7f88-077a-4868-9222-109293216741.png?16163563779819" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://tea.ru/catalog/bakaleya/bezalkogolnye-napitki/gazirovannye-napitki/?CML2_MANUFACTURER=chernogolovka" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/acf/logoNaSite_teaRu.png?161635665028491" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://www.onlinetrade.ru/catalogue/gazirovannye_napitki_energetiki-c4717/napitki_iz_chernogolovki/" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/461/onlajntrejd-logo.jpg?161635679431297" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://www.komus.ru/katalog/produkty-pitaniya/voda-napitki-soki/c/2086/f/categoryfulltextsearch=4505/trademark=chernogolovka/?from=menu" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/223/567a51050bd6d9.64107319.jpg?16163570232076400" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://apeti.ru/catalog/napitki/filter/tip_produkta-is-limonad/brend-is-chernogolovka/" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/e2d/6a2f0b682aec81fc2f48b7dd2af2317a_preview.png?161635732520868" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://lavka.yandex.ru/?category=514a74394e2341e1afeee376d1b07744000300010000&isGrocery=true&scope=global&search=%D1%87%D0%B5%D1%80%D0%BD%D0%BE%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/af6/Логотип_Яндекс_Лавка.png?1616357559882882" alt="">
											</a>
										</li>
										<li class="item">
											<a href="https://market.yandex.ru/catalog--limonady-i-gazirovannye-napitki/72280/list?cpa=0&hid=15726402&glfilter=7893318%3A10717948&onstock=1&local-offers-first=0" target="_blank">
												<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/iblock/97b/2000px-Yandex-market.svg.png?161635773852189" alt="">
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
					<div class="post-content">
						<div class="content">
							<div class="text">
								Лимонады Черноголовка – бренд № 1 среди российских газированных напитков. Уже более 20 лет лимонад Черноголовка - традиционный напиток семейных праздников, спутник дружеских посиделок и герой душевных разговоров с родными и близкими людьми.
								<br>
								<br>
								Черноголовка – это маленькая птичка с чёрной шапочкой на голове и узнаваемым голосом, заливистым как у соловья. Она стала символом качественных российских лимонадов и воды. Птичка черноголовка поёт свои песни в экологически чистых лесах Подмосковья.
								<br>
								<br>
								С каждым глотком лимонада Черноголовка вы становитесь ближе к российской природе, потому что наши напитки:<br>
								<ul>
									<li>производятся на артезианской воде;</li>
									<li>создаются на основе натуральных настоев трав, растений и фруктов, собранных на необъятной территории России;</li>
									<li>готовятся по технологии, максимально сберегающей ценные свойства фруктов, растений и трав, которые мы подбираем для наших напитков сами;</li>
								</ul>
								<br>
								Черноголовка выступает за настоящесть во всех её проявлениях. Мы за настоящий вкус, настоящие эмоции, настоящую поддержку, любовь и радость.<br>
								Чтобы поддержать близкого человека или просто насладиться моментом душевной близости, слова не нужны, достаточно глотка лимонада Черноголовка. У нас найдется вкус под любое настроение: легендарный Байкал, ароматный Дюшес, освежающий Тархун, многогранный Лимонад Оригинальный, озорной Буратино, тонизирующий Золото Саян, насыщенный Крюшон.
								<br>
								Наш Лимонад знают и любят как во всей России, так и за пределами нашей страны. Знание марки и лояльность к ней укрепляются год от года.
							</div>
						</div>
					</div>
				</article>
			</div>
			<div class="detail partners_links">
				<div class="wraps">
					<h4>Товары</h4>
					<div class="item-views catalog sections type_4_within">
						<div class="items row margin0 list_block">
							<div class="col-md-12 col-sm-12">
								<div class="item border shadow" id="bx_3218110189_494">
									<div class="image-brand-slider hover-arrows">
										<div class="flexslider unstyled row front dark-nav view-control" data-plugin-options='{"directionNav": true, "controlNav" :false, "animationLoop": true, "slideshow": false, "counts": [1,1,1,1], "itemMargin": 10}'>
											<ul class="slides">
												<li class="image">
													<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/9db/429_10000_1/Слайд1.JPG?161337577447091" alt="Черноголовка Байкал" title="Черноголовка Байкал" class="img-responsive"/>
												</li>
												<li class="image">
													<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/9db/429_10000_1/Слайд1.JPG?161337577447091" alt="Черноголовка Байкал" title="Черноголовка Байкал" class="img-responsive"/>
												</li>
												<li class="image">
													<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/9db/429_10000_1/Слайд1.JPG?161337577447091" alt="Черноголовка Байкал" title="Черноголовка Байкал" class="img-responsive"/>
												</li>
											</ul>
										</div>
									</div>

									<div class="info">
										<div class="title">
											Черноголовка Байкал
										</div>

										<div class="previewtext">
											Этот вкус - путешествие в сердце сказочной тайги.&nbsp;&nbsp;Аромат Байкала густой, хвойный, с каплей свежей смолы, в которой отражается летнее солнце. Вкус будоражит, в прямом смысле, своей тёмной и терпкой сибирской силой, оставляя бархатистое, как дикий мох, послевкусие. Неповторимость напитку придают эфирные масла лимона, эвкалипта и кардамона. Терпкость – экстракт чая. Бодрость – элеутерококк.&nbsp;&nbsp;
										</div>

										<div class="properties">


											<div class="property">
												<span class="title-prop">Объем</span>
												<span class="separator">—</span>
												<span class="value">
													0.33 л,&nbsp;0.5 л,&nbsp;1 л,&nbsp;1.5 л,&nbsp;1.25 л,&nbsp;2 л</span>
											</div>


											<div class="property">
												<span class="title-prop">Тип</span>
												<span class="separator">—</span>
												<span class="value">
													Газированная</span>
											</div>


											<div class="property">
												<span class="title-prop">Формат бутылки</span>
												<span class="separator">—</span>
												<span class="value">
													Банка,&nbsp;ПЭТ,&nbsp;Стекло</span>
											</div>


										</div>

									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="item border shadow" id="bx_3218110189_494">
									<div class="image-brand-slider">
										<div class="flexslider unstyled row front dark-nav view-control" data-plugin-options='{"directionNav": true, "controlNav" :false, "animationLoop": true, "slideshow": false, "counts": [1,1,1,1], "itemMargin": 10}'>
											<ul class="slides">
												<li class="image">
													<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/9db/429_10000_1/Слайд1.JPG?161337577447091" alt="Черноголовка Байкал" title="Черноголовка Байкал" class="img-responsive"/>
												</li>
												<li class="image">
													<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/9db/429_10000_1/Слайд1.JPG?161337577447091" alt="Черноголовка Байкал" title="Черноголовка Байкал" class="img-responsive"/>
												</li>
												<li class="image">
													<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/9db/429_10000_1/Слайд1.JPG?161337577447091" alt="Черноголовка Байкал" title="Черноголовка Байкал" class="img-responsive"/>
												</li>
											</ul>
										</div>
									</div>

									<div class="info">
										<div class="title">
											Черноголовка Байкал
										</div>

										<div class="previewtext">
											Этот вкус - путешествие в сердце сказочной тайги.&nbsp;&nbsp;Аромат Байкала густой, хвойный, с каплей свежей смолы, в которой отражается летнее солнце. Вкус будоражит, в прямом смысле, своей тёмной и терпкой сибирской силой, оставляя бархатистое, как дикий мох, послевкусие. Неповторимость напитку придают эфирные масла лимона, эвкалипта и кардамона. Терпкость – экстракт чая. Бодрость – элеутерококк.&nbsp;&nbsp;
										</div>

										<div class="properties">


											<div class="property">
												<span class="title-prop">Объем</span>
												<span class="separator">—</span>
												<span class="value">
													0.33 л,&nbsp;0.5 л,&nbsp;1 л,&nbsp;1.5 л,&nbsp;1.25 л,&nbsp;2 л</span>
											</div>


											<div class="property">
												<span class="title-prop">Тип</span>
												<span class="separator">—</span>
												<span class="value">
													Газированная</span>
											</div>


											<div class="property">
												<span class="title-prop">Формат бутылки</span>
												<span class="separator">—</span>
												<span class="value">
													Банка,&nbsp;ПЭТ,&nbsp;Стекло</span>
											</div>


										</div>

									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="item border shadow" id="bx_3218110189_494">
									<div class="image-brand-slider hover-arrows">
										<div class="flexslider unstyled row front dark-nav view-control" data-plugin-options='{"directionNav": true, "controlNav" :false, "animationLoop": true, "slideshow": false, "counts": [1,1,1,1], "itemMargin": 10}'>
											<ul class="slides">
												<li class="image">
													<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/5fd/429_10000_1/nich-sayany.png?161313553666855" alt="Черноголовка Золото Саян" title="Черноголовка Золото Саян" class="img-responsive">
												</li>
												<li class="image">
													<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/5fd/429_10000_1/nich-sayany.png?161313553666855" alt="Черноголовка Золото Саян" title="Черноголовка Золото Саян" class="img-responsive">
												</li>
											</ul>
										</div>
									</div>

									<div class="info">
										<div class="title">
											Черноголовка Байкал
										</div>

										<div class="previewtext">
											Этот вкус - путешествие в сердце сказочной тайги.&nbsp;&nbsp;Аромат Байкала густой, хвойный, с каплей свежей смолы, в которой отражается летнее солнце. Вкус будоражит, в прямом смысле, своей тёмной и терпкой сибирской силой, оставляя бархатистое, как дикий мох, послевкусие. Неповторимость напитку придают эфирные масла лимона, эвкалипта и кардамона. Терпкость – экстракт чая. Бодрость – элеутерококк.&nbsp;&nbsp;
										</div>

										<div class="properties">


											<div class="property">
												<span class="title-prop">Объем</span>
												<span class="separator">—</span>
												<span class="value">
													0.33 л,&nbsp;0.5 л,&nbsp;1 л,&nbsp;1.5 л,&nbsp;1.25 л,&nbsp;2 л</span>
											</div>


											<div class="property">
												<span class="title-prop">Тип</span>
												<span class="separator">—</span>
												<span class="value">
													Газированная</span>
											</div>


											<div class="property">
												<span class="title-prop">Формат бутылки</span>
												<span class="separator">—</span>
												<span class="value">
													Банка,&nbsp;ПЭТ,&nbsp;Стекло</span>
											</div>


										</div>

									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="item border shadow" id="bx_3218110189_498">
									<div class="image">
										<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/859/429_10000_1/Слайд2.JPG?161337577449529" alt="Черноголовка Тархун" title="Черноголовка Тархун" class="img-responsive"/>
									</div>

									<div class="info">
										<div class="title">
											Черноголовка Тархун
										</div>

										<div class="previewtext">
											Посреди серых будней так и тянет бросить всё и отправиться на охоту за драконами. Надо растереть между пальцами душистую траву, и воспрянуть от пряности. Лимонные ноты звучат золотыми стрелами, пущенными наудачу. Гудящий зелёный полдень насыщен ароматами солнца, изумрудной энергией авантюры. Рецепт напитка: артезианская вода, натуральный экстракт травы эстрагон, известный за свой пряный и пикантный вкус, а также натуральный сахар и лимонная кислота.
										</div>

										<div class="properties">


											<div class="property">
												<span class="title-prop">Объем</span>
												<span class="separator">—</span>
												<span class="value">
													0.33 л,&nbsp;0.5 л,&nbsp;1 л,&nbsp;1.5 л,&nbsp;1.25 л,&nbsp;2 л</span>
											</div>


											<div class="property">
												<span class="title-prop">Формат бутылки</span>
												<span class="separator">—</span>
												<span class="value">
													Банка,&nbsp;ПЭТ,&nbsp;Стекло</span>
											</div>


										</div>

									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="item border shadow" id="bx_3218110189_495">
									<div class="image">
										<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/93c/429_10000_1/Слайд3.JPG?161337577446945" alt="Черноголовка Дюшес" title="Черноголовка Дюшес" class="img-responsive"/>
									</div>

									<div class="info">
										<div class="title">
											Черноголовка Дюшес
										</div>

										<div class="previewtext">
											Превосходный десертный вкус: винно-сладкий, с приятной кислинкой и мускатным ароматом. «Дюшес» — один из изысканных, старых европейских сортов груш был назван в честь Французской герцогини. Герцогство исчезло, а, груши, подобно старинным песням, пережили века, чтобы мы могли насладиться их медовостью. Основа рецепта — натуральный сироп-настой южной груши сорта «Дюшес».
										</div>

										<div class="properties">


											<div class="property">
												<span class="title-prop">Объем</span>
												<span class="separator">—</span>
												<span class="value">
													0.33 л,&nbsp;0.5 л,&nbsp;1 л,&nbsp;1.5 л,&nbsp;1.25 л,&nbsp;2 л</span>
											</div>


											<div class="property">
												<span class="title-prop">Формат бутылки</span>
												<span class="separator">—</span>
												<span class="value">
													Банка,&nbsp;ПЭТ,&nbsp;Стекло</span>
											</div>


										</div>

									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="item border shadow" id="bx_3218110189_512">
									<div class="image">
										<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/a14/429_10000_1/nich-buratino.png?161313553697126" alt="Черноголовка Буратино" title="Черноголовка Буратино" class="img-responsive"/>
									</div>

									<div class="info">
										<div class="title">
											Черноголовка Буратино
										</div>

										<div class="previewtext">
											Этот напиток способен вызвать безотчётное счастье, как летний дождик из… мелких сладких карамелек. Так улыбается беззаботное детство. Непосредственность и свежесть, которую взрослые теряют с годами, найдена и запечатлена в конфетно-цитрусовом вкусе Буратино. В оригинальную рецептуру напитка Буратино входят: артезианская вода, лимонно-цитрусовые настои и сахар.
										</div>

										<div class="properties">


											<div class="property">
												<span class="title-prop">Объем</span>
												<span class="separator">—</span>
												<span class="value">
													0.33 л,&nbsp;0.5 л,&nbsp;1 л,&nbsp;1.5 л,&nbsp;2 л</span>
											</div>


											<div class="property">
												<span class="title-prop">Формат бутылки</span>
												<span class="separator">—</span>
												<span class="value">
													ПЭТ,&nbsp;Стекло</span>
											</div>


										</div>

									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="item border shadow" id="bx_3218110189_514">
									<div class="image">
										<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/5fd/429_10000_1/nich-sayany.png?161313553666855" alt="Черноголовка Золото Саян" title="Черноголовка Золото Саян" class="img-responsive"/>
									</div>

									<div class="info">
										<div class="title">
											Черноголовка Золото Саян
										</div>

										<div class="previewtext">
											Этот тонизирующий напиток обладает изысканным вкусом, ненавязчивой сладостью, легкой растительной ноткой, а еще — нежной кислинкой, благодаря чему прекрасно утоляет жажду. В оригинальную рецептуру «Саян» входит чистейшая артезианская вода, настой корня левзеи, лимонный настой, натуральный сахар. И даже чуть-чуть соли.
										</div>

										<div class="properties">


											<div class="property">
												<span class="title-prop">Объем</span>
												<span class="separator">—</span>
												<span class="value">
													0.33 л,&nbsp;0.5 л,&nbsp;1 л,&nbsp;2 л</span>
											</div>


											<div class="property">
												<span class="title-prop">Формат бутылки</span>
												<span class="separator">—</span>
												<span class="value">
													ПЭТ,&nbsp;Стекло</span>
											</div>


										</div>

									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="item border shadow" id="bx_3218110189_515">
									<div class="image">
										<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/153/429_10000_1/nich-kruchon.png?161313553777829" alt="Черноголовка Крюшон" title="Черноголовка Крюшон" class="img-responsive"/>
									</div>

									<div class="info">
										<div class="title">
											Черноголовка Крюшон
										</div>

										<div class="previewtext">
											Имеет ярко выраженный пурпурный цвет, виноградный аромат, во вкусе ощущается апельсин и виноград, присутствует ярко выраженная приятная кислинка. Приготовлен на основе артезианской воды, из цитрусово-апельсинового настоя и сока красного винограда. Глубокий Цвет напитку обеспечивает экстракт кожицы красного винограда.
										</div>

										<div class="properties">


											<div class="property">
												<span class="title-prop">Объем</span>
												<span class="separator">—</span>
												<span class="value">
													0.5 л,&nbsp;1.5 л,&nbsp;2 л</span>
											</div>


											<div class="property">
												<span class="title-prop">Формат бутылки</span>
												<span class="separator">—</span>
												<span class="value">
													ПЭТ,&nbsp;Стекло</span>
											</div>


										</div>

									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="item border shadow" id="bx_3218110189_497">
									<div class="image">
										<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/0aa/429_10000_1/nich-limonade.png?1613135537101127" alt="Черноголовка Лимонад оригинальный" title="Черноголовка Лимонад оригинальный" class="img-responsive"/>
									</div>

									<div class="info">
										<div class="title">
											Черноголовка Лимонад оригинальный
										</div>

										<div class="previewtext">
											Особенностью рецептуры Лимонада является сбалансированный состав сладких и кислых компонентов, созданный на основе натуральных цитрусовых настоев. В нём и аромат цитрусовых цветов, и чай с лимоном и много-много светлого, и предвкушение чего-то хорошего, и капля беззаботности, безоблачной радости, которые оставляет легкое и приятное послевкусие.
										</div>

										<div class="properties">


											<div class="property">
												<span class="title-prop">Объем</span>
												<span class="separator">—</span>
												<span class="value">
													0.33 л,&nbsp;0.5 л,&nbsp;1 л,&nbsp;1.5 л,&nbsp;2 л</span>
											</div>


											<div class="property">
												<span class="title-prop">Формат бутылки</span>
												<span class="separator">—</span>
												<span class="value">
													Банка,&nbsp;ПЭТ,&nbsp;Стекло</span>
											</div>


										</div>

									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="item border shadow" id="bx_3218110189_496">
									<div class="image">
										<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/66b/429_10000_1/nich-laim-lemon.png?161313553836868" alt="Черноголовка Лайм-Лимон" title="Черноголовка Лайм-Лимон" class="img-responsive"/>
									</div>

									<div class="info">
										<div class="title">
											Черноголовка Лайм-Лимон
										</div>


										<div class="properties">


											<div class="property">
												<span class="title-prop">Объем</span>
												<span class="separator">—</span>
												<span class="value">
													0.33 л,&nbsp;0.5 л</span>
											</div>


											<div class="property">
												<span class="title-prop">Формат бутылки</span>
												<span class="separator">—</span>
												<span class="value">
													Банка,&nbsp;ПЭТ</span>
											</div>


										</div>

									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="item border shadow" id="bx_3218110189_571">
									<div class="image">
										<img src="//opt-1530635.ssl.1c-bitrix-cdn.ru/upload/resize_cache/iblock/e76/429_10000_1/nich-imbir.png?161313553927812" alt="Черноголовка Имбирный лимонад" title="Черноголовка Имбирный лимонад" class="img-responsive"/>
									</div>

									<div class="info">
										<div class="title">
											Черноголовка Имбирный лимонад
										</div>

										<div class="previewtext">
											Натуральный лимонад содержит настой лимона с экстрактом имбиря, обладает терпким кисло-сладким вкусом, с легким жгучим греющим послевкусием.
										</div>

										<div class="properties">


											<div class="property">
												<span class="title-prop">Объем</span>
												<span class="separator">—</span>
												<span class="value">
													0.5 л,&nbsp;1 л</span>
											</div>


											<div class="property">
												<span class="title-prop">Тип</span>
												<span class="separator">—</span>
												<span class="value">
													Газированная</span>
											</div>


											<div class="property">
												<span class="title-prop">Формат бутылки</span>
												<span class="separator">—</span>
												<span class="value">
													Стакло</span>
											</div>


										</div>

									</div>
								</div>
							</div>
						</div>
						<div class="pagination_nav"></div>
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6 share"></div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<a class="back-url url-block font_upper" href="/brands/">
						<span>Список партнеров</span>
					</a>
				</div>
			</div>
		</div>

	</div>
</div>
