<section class="mission">
    <div class="mission-block mod-mission-1 js-parallax mod-p-2">
        <h2 class="mission-block__title">Миссия</h2>
        <p class="mission-block__text">мы приносим удовольствие и делаем
            каждый день ярче, создавая вкусные
            и качественные продукты с душой и
            заботой, соединяя традиции и
            современность.</p>
        <div class="mission-decor mod-decor-1"></div>
    </div>
    <div class="mission-block mod-mission-2 js-parallax mod-p-3">
        <h2 class="mission-block__title mod-sm-font">Возможности</h2>
        <p class="mission-block__text">Рост и развитие компании
            открывают возможности и
            перспективы для каждого
            сотрудника. Мы заботимся о
            том, чтобы каждый сотрудник
            мог профессионально расти.</p>
        <div class="mission-decor mod-decor-2"></div>
    </div>
    <div class="mission-block mod-mission-3 js-parallax mod-p-1">
        <h2 class="mission-block__title">Качество</h2>
        <p class="mission-block__text">Качество — во всем: Продукт,
            Бренд, Процессы. Это означает,
            что мы выполняем свою работу
            качественно, на высоком
            экспертном и
            профессиональном уровне,
            надежно и эффективно.</p>
        <div class="mission-decor mod-decor-3"></div>
    </div>
    <div class="mission-block mod-mission-4 js-parallax mod-p-2">
        <h2 class="mission-block__title">Ответственность</h2>
        <p class="mission-block__text">Мы готовы принимать решения
            и отвечать за достигнутые
            результаты, своевременно
            выполнять обязательства перед
            обществом, сотрудниками,
            собственниками, партнерами
            и коллегами.</p>
    </div>
    <div class="mission-block mod-mission-5 js-parallax">
        <h2 class="mission-block__title">Команда</h2>
        <p class="mission-block__text">В команде важен вклад каждого.
            Мы команда партнеров: берем на
            себя ответственность и достигаем
            общих целей. Мы честны, открыты
            и доброжелательны. Решаем
            сложные задачи, уважаем друг
            друга. В случае конфликта
            ищем взаимовыгодное
            решение.</p>
    </div>
    <div class="mission-block mod-mission-6 js-parallax mod-p-3">
        <h2 class="mission-block__title">Эффективность</h2>
        <p class="mission-block__text">Мы достигаем поставленных целей
            эффективно, получая
            максимальный результат для
            нашей компании с минимальными
            ресурсами, с высокой скоростью
            по отношению к конкурентам.</p>
    </div>
    <div class="mission-block mod-mission-7 js-parallax mod-p-2">
        <h2 class="mission-block__title">Скорость и драйв</h2>
        <p class="mission-block__text">Мы любим побеждать, ищем
            возможности, быстро принимаем
            решения, не боимся препятствий
            и достигаем результата быстрее
            рынка и конкурентов.</p>
        <div class="mission-decor mod-decor-4"></div>
    </div>
    <div class="mission-block mod-mission-8 js-parallax">
        <h2 class="mission-block__title">Партнерство</h2>
        <p class="mission-block__text">Взаимовыгодное сотрудничество —
            залог для достижения цели. Мы
            поддерживаем это доверием,
            уважением, и признанием
            ценности партнера и его мнения.</p>
        <div class="mission-decor mod-decor-5"></div>
    </div>
</section>